# --- BUILD ARTIFACTS ---
/target/
build/xor_tool
src/ghost_blob.h

# --- BPF OBJECTS ---
*.o
*.bc
target/ghost.o

# --- EXECUTABLES ---
# We ignore the final binary name used in the Makefile
target/systemd-update

# --- SYSTEM & LOGS ---
*.log
.DS_Store
.env

# --- EDITOR / BACKUPS ---
*.swp
*~
.vscode/
.idea/
